div(class="row")
  div(class="col-lg-12")
    div(class="panel panel-primary")
      div(class="panel-heading")
        strong= t("app.homeheader")
      div(class="panel-body")
        p= t("app.homemsg")
        ul
          li= t("app.homesignin")
          li= t("app.homesignup")
          li= t("app.homelogout")
          li= t("app.homeme")