body(ng-app="segeinRegistry")
  div(class="navbar navbar-inverse navbar-fixed-top", role="navigation", data-ng-controller="HomeCtrl")
    div(class="container")
      div(class="navbar-header")
        button(type"button", class="navbar-toggle collapsed", data-toggle="collapse", data-target=".navbar-collapse")
          span(class="sr-only")= t("app.togglenavigation")
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="#")= t("app.brand")
      div(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")
          li
            a(ng-href="#/")= t("app.home")
          li(data-ng-show="token")
            a(ng-href="#/me")= t("app.me")
          li(data-ng-hide="token")
            a(ng-href="#/signin")= t("app.signin")
          li(data-ng-hide="token")
            a(ng-href="#/signup")= t("app.signup")
          li(data-ng-show="token")
            a(ng-click="logout()")= t("app.logout")
  div(class="container", ng-view="")